<nav class="navbar" ng-controller="NavController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="nav-header navbar-brand" href="#/">Skilly</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form id="form-search" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!user"><a id="a-sign-in-sign-up" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Sign In / Sign Up</a></li>
                <li ng-show="user"><a ng-click="signout()" id="a-logout" href="">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <!-- Modal -->
    <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <br>
                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                        <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                        <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in" id="why">
                            <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
                            <p></p>
                            <br> Please contact
                            <a mailto:href="max@operationspark.org"></a>max@operationspark.org</a> for any other inquiries.</p>
                        </div>
                        <div class="tab-pane fade active in" id="signin">
                            <form id="form-signin" class="form-horizontal" ng-submit="signin()">
                                <fieldset>
                                    <!-- Sign In Form -->
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="username">Username:</label>
                                        <div class="controls">
                                            <input required="" id="username" name="username" type="text" class="form-control" placeholder="madSkillz" class="input-medium" required="">
                                        </div>
                                    </div>
    
                                    <!-- Password input-->
                                    <div class="control-group">
                                        <label class="control-label" for="password">Password:</label>
                                        <div class="controls">
                                            <input required="" id="password" name="password" class="form-control" type="password" placeholder="********" class="input-medium">
                                        </div>
                                    </div>
    
                                    <!-- Multiple Checkboxes (inline) -->
                                    <div class="control-group">
                                        <label class="control-label" for="rememberme"></label>
                                        <div class="controls">
                                            <label class="checkbox inline" for="rememberme-0">
                                                <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me"> Remember me
                                            </label>
                                        </div>
                                    </div>
    
                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="signin"></label>
                                        <div class="controls">
                                            <button id="signin" name="signin" class="btn btn-success">Sign In</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="signup">
                            <form id="form-signup" class="form-horizontal" ng-submit="signup()">
                                <fieldset>
                                    <!-- Sign Up Form -->
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="nameFirst">First Name:</label>
                                        <div class="controls">
                                            <input id="nameFirst" name="nameFirst" class="form-control" type="text" placeholder="Claire" class="input-large" required="">
                                        </div>
                                    </div>
                                    
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="nameLast">First Last:</label>
                                        <div class="controls">
                                            <input id="nameLast" name="nameLast" class="form-control" type="text" placeholder="Danes" class="input-large" required="">
                                        </div>
                                    </div>
                                    
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="Email">Email:</label>
                                        <div class="controls">
                                            <input id="Email" name="Email" class="form-control" type="text" placeholder="claire@operationspark.org" class="input-large" required="">
                                        </div>
                                    </div>
    
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="username">Username:</label>
                                        <div class="controls">
                                            <input id="username" name="username" class="form-control" type="text" placeholder="madSkillz" class="input-large" required="">
                                        </div>
                                    </div>
    
                                    <!-- Password input-->
                                    <div class="control-group">
                                        <label class="control-label" for="password">Password:</label>
                                        <div class="controls">
                                            <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                                            <em>1-8 Characters</em>
                                        </div>
                                    </div>
    
                                    <!-- Multiple Radios (inline) -->
                                    <br>
                                    <div class="control-group">
                                        <label class="control-label" for="humancheck">Humanity Check:</label>
                                        <div class="controls">
                                            <label class="radio inline" for="humancheck-0">
                                                <input type="radio" name="humancheck" id="humancheck-0" value="robot" checked="checked">I'm a Robot</label>
                                            <label class="radio inline" for="humancheck-1">
                                                <input type="radio" name="humancheck" id="humancheck-1" value="human">I'm Human</label>
                                        </div>
                                    </div>
    
                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="confirmsignup"></label>
                                        <div class="controls">
                                            <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button id="btn-close-auth" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</nav>
